In [66]:
import os, sys
import pandas as pd
from PIL import Image
from scipy.misc import imsave
from matplotlib.image import imread

In [12]:
df_img = pd.read_csv('../homework_10/snap_art_colors_20150531')

In [16]:
df_sold = df_img[df_img['sold_temp'] == 1]

In [18]:
img_dir = "images_art_3/"

In [20]:
images = [img_dir+ f for f in os.listdir(img_dir)]

In [23]:
image_rec = pd.DataFrame(images)

In [29]:
image_rec.head()

                                    img_path
0  images_art_3/4d8b92c54eb68a1b2c0004e6.jpg
1  images_art_3/4d8b92c74eb68a1b2c000542.jpg
2  images_art_3/4d8b92c84eb68a1b2c00055c.jpg
3  images_art_3/4d8b92c94eb68a1b2c000592.jpg
4  images_art_3/4d8b92ca4eb68a1b2c0005a4.jpg

In [28]:
image_rec.columns = ['img_path']

In [35]:
image_rec['id'] = image_rec.img_path.map(lambda x: str(x).split('images_art_3/')[1].strip('.jpg'))

In [40]:
df_sold_c = df_sold[['_id', 'sold_temp']]

In [42]:
df_sold_c.describe()

       sold_temp
count     4660.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0

In [43]:
df_dir = df_sold_c.merge(image_rec, how='inner', left_on='_id', right_on='id')

In [46]:
df_dir['img_path'][0]

'images_art_3/536d5aac275b247c2b000406.jpg'

In [53]:
im = Image.open(df_dir['img_path'][100])

In [56]:
df_dir['width'] = df_dir['img_path'].map(lambda x: Image.open(x).size[0])

In [57]:
df_dir['height'] = df_dir['img_path'].map(lambda x: Image.open(x).size[1])

In [60]:
#df_dir.sort(['height', 'width'], ascending=[1, 1])

In [61]:
df_dir.head()

,_id,sold_temp,img_path,id,width,height
0,536d5aac275b247c2b000406,1,images_art_3/536d5aac275b247c2b000406.jpg,536d5aac275b247c2b000406,160,200
1,54b05f3072616913c6dc0200,1,images_art_3/54b05f3072616913c6dc0200.jpg,54b05f3072616913c6dc0200,200,149
2,54c2f73f7261693301ab0900,1,images_art_3/54c2f73f7261693301ab0900.jpg,54c2f73f7261693301ab0900,152,200
3,54c2fed17261690d036d0900,1,images_art_3/54c2fed17261690d036d0900.jpg,54c2fed17261690d036d0900,152,200
4,54c2fed87261690a756b0a00,1,images_art_3/54c2fed87261690a756b0a00.jpg,54c2fed87261690a756b0a00,152,200

In [71]:
df_dir['img_title'] = df_dir['img_path'].map(lambda x: str(x).split('images_art_3/')[1])

In [74]:
for i, row in df_dir.iterrows():
    source = df_dir['img_path'][i]
    title = df_dir['img_title'][i]
    destination = 'imgs_sold/' + title
    os.system('cp ' + source + ' ' + destination)

In [75]:
df_dir.describe()

       sold_temp        width       height
count     4651.0  4651.000000  4651.000000
mean         1.0   171.775532   179.687809
std          0.0    29.350715    31.208672
min          1.0    38.000000    14.000000
25%          1.0   149.000000   152.500000
50%          1.0   172.000000   200.000000
75%          1.0   200.000000   200.000000
max          1.0   230.000000   230.000000

In [76]:
df_dir.to_csv('small-sold-df.csv', index=False)